services:
  openldap:
    image: {{ image_openldap }}
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "{{ cert_org }}"
      LDAP_DOMAIN: "{{ domain }}"
      LDAP_BASE_DN: "{{ ldap_base_dn }}"
      LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password }}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: fullchain.pem
      LDAP_TLS_KEY_FILENAME: privkey.pem
      LDAP_TLS_CA_CRT_FILENAME: root_ca.crt
      LDAP_TLS_ENFORCE: "true"
      LDAP_TLS_VERIFY_CLIENT: "try"
    volumes:
      - {{ deploy_base_dir }}/openldap/data:/var/lib/ldap
      - {{ deploy_base_dir }}/openldap/config:/etc/ldap/slapd.d
      - {{ deploy_base_dir }}/openldap/certs:/container/service/slapd/assets/certs
      - {{ deploy_base_dir }}/openldap/ous.ldif:/container/environment/custom/02-ous.ldif
      - {{ deploy_base_dir }}/openldap/groups.ldif:/container/environment/custom/03-groups.ldif
      - {{ deploy_base_dir }}/openldap/admins.ldif:/container/environment/custom/05-admins.ldif
      - {{ deploy_base_dir }}/openldap/acl.sh:/container/environment/custom/06-acl.sh
    networks:
      core_net:
        ipv4_address: "{{ ip_ldap }}"
        aliases:
          - "{{ hostname_ldap }}"
    healthcheck:
      test: ["CMD-SHELL", "ldapsearch -x -b \"\" -s base -H ldapi:/// > /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  core_net:
    name: core_net
    external: true
