services:
  openldap:
    image: {{ image_openldap }}
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "{{ cert_org }}"
      LDAP_DOMAIN: "{{ domain }}"
      LDAP_BASE_DN: "{{ ldap_base_dn }}"
      LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password }}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: fullchain.pem
      LDAP_TLS_KEY_FILENAME: privkey.pem
      LDAP_TLS_CA_CRT_FILENAME: root_ca.crt
      LDAP_TLS_ENFORCE: "{{ enforce_ldaps | string | lower }}"
      LDAP_TLS_VERIFY_CLIENT: "try"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
      LDAP_SEED_INTERNAL_LDIF_PATH: "/container/environment/custom_ldif"
    volumes:
      - {{ deploy_base_dir }}/openldap/data:/var/lib/ldap
      - {{ deploy_base_dir }}/openldap/config:/etc/ldap/slapd.d
      - {{ deploy_base_dir }}/openldap/certs:/container/service/slapd/assets/certs
      - {{ deploy_base_dir }}/openldap/custom_ldif:/container/environment/custom_ldif
    networks:
      core_net:
        ipv4_address: "{{ ip_ldap }}"
        aliases:
          - "{{ hostname_ldap }}"
    healthcheck:
      test: ["CMD-SHELL", "ldapsearch -x -b \"\" -s base -H ldapi:/// > /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s

networks:
  core_net:
    name: core_net
    external: true
