{% for grp in ldap_groups %}
dn: cn={{ grp.name }},ou=Groups,{{ ldap_base_dn }}
objectClass: top
objectClass: groupOfNames
cn: {{ grp.name }}
member: cn=admin,{{ ldap_base_dn }}
{% if grp.memberUids is defined %}
{% for uid in grp.memberUids %}
member: uid={{ uid }},ou=People,{{ ldap_base_dn }}
{% endfor %}
{% endif %}


{% endfor %}
